body {
    color: cadetblue;
    font-family: Roboto, serif;
    background-color: black;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    background-color: black;
}

.navigation-left {
    display: flex;
    flex-direction: row;
    line-height: 40px;
    padding-left: 10px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.navigation-left img {
    padding-top: 5px;
    width: 30px;
    height: 30px;
}

.navigation-center {
    display: flex;
    flex-direction: row;
    line-height: 48px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}

.navigation-icon svg {
    fill: cadetblue;
    cursor: pointer;
}

.navigation-icon-disabled svg {
    fill: dimgray;
    cursor: not-allowed;
}


.navigation-center div {
    padding-left: 20px;
    padding-right: 20px;
}

.navigation-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    line-height: 40px;
    padding-right: 20px;
    font-weight: bold;
}

.navigation-right a {
    color: cadetblue;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 2vw;
}

.main-content-album-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.main-content-album-card img {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.main-content-album-title {
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.main-content-album-artist {
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.main-content-large-image img {
    width: 500px;
    height: 500px;
}

.main-content-album-tracks {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.main-content-album-tracks svg {
    fill: cadetblue;
}

.main-content-album-table {
    width: 600px;
}

.audio-control {
    cursor: not-allowed;
}

.audio-control svg {
    fill: dimgray;
}

.audio-control-enabled {
    cursor: pointer;
}

.audio-control-enabled svg {
    fill: cadetblue;
}

.audio-control-mute {
    cursor: pointer;
}

.audio-control-mute svg {
    fill: cadetblue;
}


.queue {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #333;
}

.queue-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
}

.audio-progress {
    background-color: #050505;
    position: fixed;
    bottom: 70px;
    height: 6px;
    width: 100%;
    cursor: pointer;
}

.audio-slider {
    background-color: firebrick;
    height: 6px;
}

.audio-time {
    line-height: 50px;
    padding: 0 10px;
}

.queue-controls {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    flex-direction: row;
}

.audio-controls {
    display: inherit;
    flex-direction: row;
}

.queue-table {
    width: 60vw;
    border-spacing: 2px;
}

.queue-playing {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}

.queue-playing-img {
    width: 48px;
    height: 48px;
}

.queue-playing-text {
    padding-top: 10px;
    padding-left: 12px;
}

.queue-expand {
    padding-left: 4vw;
    padding-right: 0.5vw;
}

.queue-expand svg {
    fill: cadetblue;
}

.queue-clear {
    display: flex;
    flex-direction: row;
    line-height: 48px;
    cursor: pointer;
    z-index: 0;
}

.queue-clear svg {
    position: relative;
    left: -9px;
    fill: cadetblue;
}

.album-title-top-section-left {
    display: flex;
    flex-direction: column;
}

.album-title-top-section-right {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    top: 10px;
    left: -10px;
}

.album-track-row {
    cursor: pointer;
}

.album-track-duration {
    justify-content: right;
}

.volume-slider-container {
    display: flex;
    padding-left: 10px;
    flex-direction: row;
    padding-top: 19px;
    width: 5vw;
}

.volume-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #444;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volume-slider:hover {
    opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 0;
    cursor: pointer;
    background: cadetblue;
}

.volume-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 0;
    cursor: pointer;
    background: cadetblue;
}

@media (max-width: 800px) {
    .navigation-left {
        display: none;
    }

    .navigation-right {
        display: none;
    }

    .navigation {
        justify-content: space-evenly;
    }

    .main-content {
        padding: 80px 2vw;
    }

    .main-content-large-image img {
        width: 90vw;
        height: 90vw;
    }

    .main-content-album-table {
        width: 98vw;
    }

    .queue-playing {
        display: none;
    }

    .volume-slider-container {
        display: none;
    }

    .audio-control-mute {
        display: none;
    }

    .queue-table {
        width: 99vw;
        border-spacing: 0;
    }

    .queue-table-album {
        display: none;
    }

    .queue-table-artist {
        display: none;
    }

}
